<h1>Artists</h1>
<%= link_to 'View Artists', new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.artist_name, [@billboard, artist] %></li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Bacl to Billboards', root_path(@billboard) %>
