<br />
<h2>Welcome <%= current_user.first_name %></h2>
<h1 class="ui header">
  <i class="star outline icon"></i>
  <div class="content">
    Today's Charts
    </div>
</h1>
<%= link_to 'Build a Billboard', new_billboard_path %>
<ul>
  <% @billboards.each do |billboard| %>
    <li><%= link_to billboard.chart_name, billboard %></li>
  <% end %>
</ul>

<br />
<br />
<br />
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

